body {
      padding: 2em;
background: url(https://th.bing.com/th/id/OIP.FZDJMEcEtpsh9R3CTT7bNQHaEr?w=258&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;



}

/* navbar */
nav{
  color: red;
  float: right;
  margin:20px 20px;
}
nav ul{
  list-style: none;
}
nav ul li {
  float: left;
  transition: .1s;
}
nav ul li a{
  text-decoration: none;
  color: green;
background: white;
  transition: .2;
  font-size: 20px;
  margin-left:16px;
}




/* Container holding the image and the text */
.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: -10px;
  right: 500px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
